.chat-container {
    width: 100vw;
    /* max-width: 600px; */
    height: 100vh;
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 30px;
  }
  /* Chat Header */
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #7e7917;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
  }
  .chat-header-left {
    display: flex;
    align-items: center;
  }
  .go-home-button {
    background-color: #cabf3b;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .go-home-button:hover {
    background-color: #ffffff;
  }
  .go-home-button img {
    height: 30px;
    width:30px;
  }

  
  .chat-header-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .chat-header-name {
    font-size: 16px;
  }
  
  /* Messages */
  .chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #c4c4c400;
  }
  
  .message-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  
  .message-row.player {
    flex-direction: row-reverse;
  }
  
  .message {
    max-width: 65%;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .manager {
    background-color: rgb(222, 225, 175);
    color: black;
    border-bottom-left-radius: 0;
  }
  
  .player {
    background-color: #9c9f0066;
    color: black;
    border-bottom-right-radius: 0;
  }
  
  .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Input */
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #83838300;
    border-top: 1px solid #373500;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .chat-input button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  