/* src/pages/ClubApplicationPage.css */

.club-app-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: #e0e5ec;
  overflow: hidden;
}

.club-app-main {
  flex: 1;
  padding: 0 30px;
  overflow-y: auto;
  margin-left: 20px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.neumorphic {
  background: #e0e5ec;
  border-radius: 20px;
  box-shadow: 8px 8px 16px #a7a7a7, -8px -8px 16px #f8faff;
}

.neumorphic-btn {
  background: #e0e5ec;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #9a9a9a, -5px -5px 10px #f8faff;
}

.search-filter-section {
  margin-top: 30px;
  margin-bottom: -30px;
  padding: 20px;
  border-radius: 20px;
}

.filter-input {
  width: 50%;
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: -15px;
}

.section-title {
  margin: 20px 0 10px;
}

.club-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.club-card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px #c8ccd2, inset -5px -5px 10px #f8faff;
  text-align: center;
}

.club-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  background-color: #6fdd8900;
}

.desc {
  font-size: 13px;
  color: #444;
  margin: 10px 0;
}

.card-buttons button {
  margin: 5px 5px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.apply-btn {
  background: #6fdd88;
  color: #04621a;
}

.save-btn {
  background: #dad1a7;
  color: #735600;
}

.save-btn.saved {
  background: #ffe066;
}

.remove-btn {
  background: #ff9ea6;
  color: #8d000e;
}

.gradient-text {
  background: linear-gradient(90deg, #a911cb, #d525fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
