body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #e0e5ec;
}

.dashboard-wrapper {
  display: flex;
  background: #e0e5ec;
  color: #111;
  width: 100vw;
}

.dashboard-wrapper.dark {
  background: #1e1e2f;
  color: #fff;
}

.neumorphic {
  background: #ebe0ec;
  border-radius: 16px;
  box-shadow: 8px 8px 16px #000000, -8px -8px 16px #ffffff;
}

.dashboard-wrapper.dark .neumorphic {
  background: #2c2c3e;
  box-shadow: 6px 6px 12px #1a1a28, -6px -6px 12px #3a3a52;
}

.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.nav-links a {
  display: block;
  margin: 10px 0;
  color: inherit;
  text-decoration: none;
}

.create-btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.dashboard-main {
  flex: 1;
  padding: 0px 30px;
  margin-left: 20px;
}

.topbar {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  margin: 10px -30px;
}

.search-bar {
  padding: 8px;
  flex: 1;
  max-width: 300px;
  box-shadow: -10px -10px 10px 0 #FFFFFF ,70% 10px 10px 10px 0 #AEAEC0 20%;
  border: none;
  margin-right: 700px;
  margin-top: 50px;
  margin-bottom: -10px;
}
/* #header-btn {
  border-radius: 100px;
  background: linear-gradient(45deg, #a78bfa, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;;
} */

.avatar {
  width: 40px;
  height: 40px;
  background: #bbb;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.check-in {
  font-size: 12px;
  background: #a14dbb;
  padding: 4px 8px;
  color: white;
  border-radius: 8px;
  box-shadow: -10px -10px 10px 0 #FFFFFF ,70% 10px 10px 10px 0 #AEAEC0 20%;
  border: none;
}

.stats-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: -30px;
}


.stat-card {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.stat-card .red {
  color: #e74c3c;
}

.stat-card .green {
  color: #27ae60;
}

.mid-section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.projects-chart,
.calendar-events {
  flex: 1;
  padding: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chart-placeholder {
  height: 150px;
  background: #d3d9e1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gantt-chart {
  padding: 20px;
}

.events li {
  margin-bottom: 10px;
}
#btn{
  color: purple;
}
.gradient-purple {
  background: linear-gradient(45deg, #a78bfa, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title{
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}
.profile-actions{
  display: flex;
  gap: 10px;
  margin: 20px;
  padding-bottom: 20px;
  margin-top: 90px;
}