.marketplace-wrapper.light  {
    background: linear-gradient(rgb(233, 233, 233), rgb(172, 165, 165));
    color: #312e12;
  }
.marketplace-wrapper.dark  {
    background: linear-gradient( rgb(31, 31, 8), rgb(37, 32, 7));
    color: #fbeddf;
  }

  

  .marketplace-wrapper {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    padding: 20px;
    /* background: linear-gradient(white, red);
    color: black; */
  }
  .marketplace-header {
    display: flex; flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .marketplace-header span {
    font-size: 35px;
  }
  .marketplace-header h1 {
    font-size: 15px;
    margin-left: 50px; 
  }
  .controls select, .controls button {
    margin: 0 8px;
    padding: 8px 12px;
    border-radius: 196px;
    /* border: 1px solid ; */
    cursor: pointer;
    color: rgb(129, 129, 129);
    background-color: #ffffff20;
    backdrop-filter: blur(50px);
  }
  .player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 10px;
    margin: 50px 50px;
  }
  .player-card {
    background: rgba(0, 0, 0, 0.326);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1.5px solid rgba(0, 0, 0, 0.086);
    
  }
  .player-card img {
    width: 100px; height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .player-card .tags span {
    font-size: 11px;
    margin: 4px; padding: 4px 8px;
    background: rgba(19, 127, 0, 0.805);
    color: rgb(125, 255, 101);
    border-radius: 12px;
  }
  .player-card .actions button {
    margin: 16px 4px;
    padding: 6px 12px;
    border: none;
    border-radius: 98px;
    cursor: pointer;
    background-color: rgba(172, 172, 11, 0.652);
    color: rgb(248, 255, 149);
  }
  .load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
  }
  .modal-overlay {
    position: fixed; inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex; align-items: center; justify-content: center;
    z-index: 100;
  }
  .modal-content {
    background: #fff;
    padding: 24px; border-radius: 12px;
    width: 90%; max-width: 400px;
    text-align: center;
    position: relative;
  }
  .modal-content img {
    width: 120px; height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  .close-btn {
    position: absolute; top: 12px; right: 12px;
    background: none; border: none; font-size: 18px;
    cursor: pointer;
  }
  .buy-btn {
    margin-top: 16px;
    background: #007bff; color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  