/* src/components/NmdHeader.css */
.nmd-header {
  width: 100%;
  /* height: 9%; */
  padding: 8px 30px;
  background: #e0e5ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 16px ;
  box-shadow: 8px 8px 16px #bfc4cc, -8px -8px 16px #ffffff;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: -25px;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  background: linear-gradient(45deg, #4d00ab, #c965ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-btn {
  background: #e0e5ec;
  border: none;
  font-size: 16px;
  /* padding: 10px 18px; */
  border-radius: 120px;
  cursor: pointer;
  box-shadow: 6px 6px 12px #cbd1d8, -6px -6px 12px #ffffff;
  transition: all 0.2s ease;
}
.home-btn img {
  width: 20px;
  height: 20px;
}

.home-btn:hover {
  box-shadow: inset 4px 4px 8px #cbd1d8, inset -4px -4px 8px #ffffff;
}
