/* src/components/FanSidebar.css */
.fan-sidebar {
    width: 250px;
    height: 100vh;
    background: #e0e5ec;
    box-shadow: 8px 8px 13px #8d8d8d9e, -8px -8px 16px #f8faff;
    border-radius: 0px 20px 20px 0px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .avatar-section {
    text-align: center;
    /* box-shadow: -10px -10px 30px 0 #fffdff, 10px 10px 30px 0 rgba(0, 0, 0, 0.361); */
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #e1dce4;
    transition: all 0.3s ease;
  }
  .avatar-section:hover {
    transform: translateY(2px);
    box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #ffffff;
    cursor: crosshair;
  }
  
  .profile-pic {
    width: 80px !important; 
    height: 80px !important;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  
  .username {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px !important;
  }
  
  .user-id {
    font-size: 12px;
    color: #999;
    margin: 4px 0 20px;
  }
  
  .nav-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .nav-btn {
    background: none;
    border: none;
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;
    color: #333;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  }
  
  .nav-btn.active,
  .nav-btn:hover {
    background: #d9b1e5;
    /* box-shadow: inset 2px 2px 5px #939393, inset -2px -2px 5px #f8faff; */
    box-shadow: inset 2px 2px 4px #b8b9be, inset -2px -2px 4px #ffffff;
    font-weight: bold;
    color: rgb(134, 0, 147);
    transform: translateY(-2px);
  }
  
  .nav-btn{
    box-shadow: 8px 8px 16px #a0a0a0, -8px -8px 16px #ffffff;
  }




  .footer-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;
  }
  
  .icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: 4px 4px 8px #c8ccd2, -4px -4px 8px #f8faff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .icon-btn:hover {
    transform: scale(1.05);
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Modal Overlay */
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(2px);
}

/* Modal Box */
.modal-content {
  background: #e0e5ec;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 8px 8px 16px #0000002f, -8px -8px 16px #ffffff14;
  color: purple;
}

.modal-content h4 {
  margin-bottom: 10px;
  color: purple
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.modal-buttons button:hover {
  box-shadow: inset 2px 2px 4px #b8b9be, inset -2px -2px 4px #ffffff;
  border: none;
}

.modal-buttons button {
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

  