.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}
